body {
    background-color: lavender;
    font-family: monospace;
}

header {
    width: 75%;
    background-color: skyblue;
    margin: 0 auto;
}

h1 {
    text-align: right;
}

img {
    height: 250px;
    width: 75%
}

#reviews {
    display: none;
}

@media (min-width: 600px) {
    #reviews {
        display: block;
    }
}
@media (max-width: 399px) {
    #reviews {
        display: none;
    }
}